 <% if notice %>
  <aside class="alert alert-success alert-dismissible fade show mt-3" id="notice"><%= notice %></aside>
 <% end %> 

<h1>Scanned Audits</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col text-end">
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>

    <tbody>
    <% product_audits = ProductAudit.where(scan_id: @scan.id)%>
    <% product_audits.each do |product_audit| %>
      <tr>
        <td class="audit_name"><%= Product.find_by(id: product_audit.product_id).name%></td>
        <%# platform_id = PlatformProduct.find_by(product_id: product_audit.product_id).id%>
        <% product_audit_price = ProductAuditPrice.find_by(product_audit_id: product_audit.id)%>        
        <% if product_audit_price %>
          <% platform_product_id = product_audit_price.platform_product_id%>
          <% platform_id = PlatformProduct.find_by(id: platform_product_id).platform_id%>
          <% platform_name = Platform.find_by(id: platform_id).name%>
          <td class="audit_platform"><%= platform_name%></td>
          <td class="audit_price"><%= product_audit_price.price %> KM</td>
        <% else %>
          <td class="audit_platform">-</td>
          <td class="audit_price">-</td>
        <% end %>
        <% current_state = product_audit.current_state %>
        <% if current_state == 'finished' %>
          <td class="scan_status">finished</td>
        <% else %>
          <td class="scan_status">error</td>
        <% end %>      
      </tr>
    <% end %>
    </tbody>
</table>
